body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(180deg, #0f2027, #203a43);
  color: white;
}

/* APP */
.app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 35px;
  height: 35px;
  background: purple;
  border-radius: 50%;
}

/* CONNECT */
.connect-btn {
  background: linear-gradient(45deg, #6c5ce7, #8e44ad);
  border: none;
  padding: 8px 14px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}

/* BALANCE */
.balance {
  text-align: center;
  margin: 30px 0;
}

.balance h1 {
  font-size: 40px;
  margin: 0;
}

.profit {
  color: #00ff88;
}

/* ACTIONS */
.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  flex: 1;
  margin: 5px;
  padding: 14px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg, #6c5ce7, #8e44ad);
  color: white;
  font-weight: bold;
}

/* TOKENS */
.token {
  background: #1a1a2e;
  padding: 15px;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 10px;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.sol {
  background: linear-gradient(45deg, #00ffa3, #dc1fff);
}

/* NAVBAR */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
